---
type TechnologyGroup = {
    label: string;
    items: Array<string>;
};

type Props = {
    technologies: Array<TechnologyGroup>;
};

const { technologies } = Astro.props;
---

<section class='mt-6'>
    <h4 class='text-2xl mb-2 font-semibold'>Skills & Technologies</h4>
    {
        technologies.map((group) => (
            <div class='mb-2 last:mb-0 print:mb-1'>
                <h5 class='text-sm font-semibold'>{group.label}</h5>
                <p class='text-sm print:text-xs'>{group.items.join(', ')}</p>
            </div>
        ))
    }
</section>
