---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 - resource not found'>
    <h1 class='text-4xl'>Error 404</h1>
    <h2 class='text-xl'>Resource not found.</h2>
    <a href='/'>Back home</a>
</Layout>
