---
import Layout from '../layouts/Layout.astro';
import Prose from '../components/Prose.astro';
import { getEntry } from 'astro:content';
import Section from '../components/Section.astro';
import Projects from '../components/Projects.astro';
import HeroHeading from '../components/HeroHeading.astro';

const about = await getEntry('about', 'short-description');
const { Content: About } = await about.render();
---

<Layout>
    <Section className='flex justify-start items-center' id='home'>
        <HeroHeading />
    </Section>
    <Section
        className='flex justify-end items-center lg:grid lg:grid-rows-1 lg:grid-cols-3 gap-8 xl:gap-12 opacity-0 transition-opacity duration-500 delay-300 ease-in-out'
        id='about'
    >
        <Prose>
            <About />
        </Prose>
    </Section>
    <Section id='projects' className='flex flex-col justify-between md:gap-6 opacity-0 transition-opacity duration-500 delay-300 ease-in-out'>
        <h2 class='text-6xl sm:text-7xl md:text-8xl lg:text-9xl'>Projects</h2>
        <Projects />
    </Section>
    <script>
        const intersectionObserver = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.remove('opacity-0');
                } else {
                    entry.target.classList.add('opacity-0');
                }
            });
        });

        intersectionObserver.observe(document.querySelector('#about')!);
        intersectionObserver.observe(document.querySelector('#projects')!);
    </script>
</Layout>
