---
import Button from '../components/Button';
import Layout from '../layouts/Layout.astro';
import Prose from '../components/Prose.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('bio', 'short-description');
const { Content: Bio } = await entry.render();
---

<Layout title='Greg Patyk - Portfolio'>
    <h1
        class='bg-clip-text text-transparent bg-gradient-to-br from-pink-500 to-violet-500 mt-8 text-[16rem] font-black leading-[0.8] uppercase text-balance'
    >
        Greg Patyk Frontend Developer Portfolio 24'
    </h1>
    <!-- <Prose>
        <Bio />
    </Prose>
    <Button className='mt-12' client:load>Press me!</Button> -->
</Layout>
