---

---

<header
    class='flex flex-row justify-start w-full items-center px-8 sm:px-16 md:px-24 lg:px-28 xl:px-32 2xl:px-48 h-16 text-2xl fixed inset-0 backdrop-blur-sm animate-fade-in z-10'
>
    <h1 class='text-3xl font-medium'>gpatyk.dev</h1>
</header>
