---

---

<h1 class='text-7xl md:text-9xl flex flex-col justify-start items-start'>
    <span class='overflow-hidden'
        ><span class='block animate-slide-down'>Web</span></span
    >
    <span class='overflow-hidden'
        ><span class='block animate-slide-down'>Developer</span></span
    >
    <span class='overflow-hidden'
        ><span class='block animate-slide-down'>Portfolio</span></span
    >
</h1>
