---
import NavLinks from './NavLinks';

interface Props {
    currentPathname: string;
}

const { currentPathname: pathname } = Astro.props;
const routes = ['', 'projects', 'resume'];
---

<nav class='flex flex-row justify-start items-center px-8 h-16 gap-4 text-2xl fixed inset-0 backdrop-blur-sm backdrop-hue-rotate-60'>
    <NavLinks {...{ routes, pathname }} client:load transition:persist />
</nav>
