---
import { getCollection } from 'astro:content';
import Project from './Project.astro';

const projects = await getCollection('projects');
---

<div class='relative h-full flex flex-col justify-end'>
    <div
        class='relative w-full max-h-96 h-full overflow-x-auto scrollbar-none scroll-smooth snap-x snap-mandatory flex flex-row justify-start gap-4 flex-nowrap pr-32'
    >
        {projects.map((project) => <Project {...project.data} />)}
    </div>
    <div
        class='absolute right-0 top-0 h-full w-32 bg-gradient-to-r from-transparent to-zinc-100 dark:to-zinc-900 pointer-events-none'
    >
    </div>
</div>
