---

---

<div
    class='max-md:row-span-2 md:col-span-2 prose prose-p-text-zinc-900 prose-h1:text-4xl md:prose-h1:text-6xl xl:prose-h1:text-7xl 2xl:prose-h1:text-9xl prose-h2:mt-0 prose-h1:mb-2 xl:prose-h1:mb-8 prose-h2:mb-0 lg:prose-h2:mb-2 dark:prose-p:text-zinc-300 prose-p:text-justify prose-p:leading-snug prose-a:text-zinc-900 dark:prose-a:text-zinc-200 prose-a:no-underline prose-headings:text-zinc-900 dark:prose-headings:text-zinc-200 text-base md:text-lg xl:text-xl 2xl:text-2xl prose-strong:px-3 prose-strong:text-inherit prose-strong:font-normal prose-strong:border-2 prose-strong:rounded-3xl'
>
    <slot />
</div>
