---
interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<div
    class:list={[
        'text-sm/4 text-zinc-600 hidden print:block mr-8 text-justify',
        className,
    ]}
>
    I consent to the processing of my personal data contained in this CV for
    the purposes of current and future recruitment processes, in accordance
    with Regulation (EU) 2016/679 of the European Parliament and of the Council
    of 27 April 2016 (GDPR).
</div>
